.page {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: rem(768px);
        padding-top: rem(112px);
    }

    &__input {
        margin-top: rem(64px);
        margin-bottom: rem(12px);
    }
}