.page {
  width: 100%;

  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: rem(768px);
    padding-top: rem(112px);
    padding-bottom: rem(88px);
  }

  &__input {
    margin-top: rem(100px);
    margin-bottom: rem(56px);
  }

  &__terminal {
    margin-top: rem(64px);
    margin-bottom: rem(56px);
  }

  &__help {
    margin-top: rem(20px);
    margin-bottom: rem(12px);
  }
}
