.footer {
  width: 100%;
  height: rem(64px);
  border-top: solid rem(0.5px) $dark-grey;

  &__container {
    box-sizing: border-box;
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    width: 100%;
    max-width: rem(768px);
    height: 100%;

    padding: 0 rem(12px);
    @media only screen and (max-width: $md) {
      padding: 0 rem(24px);
    }
  }

  &__left {
    display: flex;
    div:not(:last-child) {
      &::after {
        content: '•';
        padding: 0 rem(6px);
        color: $dark-grey;
      }
    }
  }

  &__right {
    @media only screen and (max-width: $xs) {
      display: none;
    }
  }
}
