.giphy-feature {
  width: rem(500px);

  &__src {
    height: rem(30px);
    font-size: rem(12px);
    float: right;
  }

  &__img {
    width: 100%;
    min-height: rem(289.5px);
    border: solid rem(1px) $dark-grey;
    border-radius: rem(8px);
  }
}
