$white: #ffffff;
$grey: #919094;
$dark-grey: darken($grey, 32%);
$light-grey: lighten($dark-grey, 38%);
$primary: #fd9564;
$red: #e3463f;
$dark-red: darken($red, 8%);
$green: #26b83f;
$dark-green: darken($green, 8%);
$purple: #b46382;
$blue: #213862;

$color-bg: #222129;
$color-light-bg: lighten($color-bg, 4%);
$color-font: #ffffff;

$xxs: '350px';
$xs: '560px';
$sm: '668px';
$md: '768px';
$lg: '992px';
$xl: '1200px';

// ========================================================
// : COLORS
// ========================================================
.primary {
  color: $primary;
}
.purple {
  color: $purple;
}
.dark-red {
  color: $dark-red;
}

body {
  background-color: $color-bg;
  color: $color-font;
}

input {
  background-color: transparent;
  color: $color-font;

  &::-webkit-input-placeholder {
    color: $grey;
  }

  &:-ms-input-placeholder {
    color: $grey;
  }

  &::placeholder {
    color: $grey;
  }
}

a {
  color: $purple;
}
button {
  color: $white;
}

.btn {
  min-width: rem(88px);
  padding: 0;
  border-radius: 0;

  &__primary {
    @include btnColor($primary);
  }

  &__red {
    @include btnColor($red);
  }
}

input,
textarea,
button {
  border: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

// ========================================================
// : FONT
// ========================================================
html {
  font-family: 'Fira Code', monospace;
  font-size: 100%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Fira Code VF', monospace;
  }
}

body {
  font-size: 1em;
  font-family: inherit;
}

// *,:before,:after{font-family:inherit;}

// ========================================================
// : SIZES
// ========================================================
html,
body,
#root {
  height: 100%;
}

// : CUSTOM
.ReactCollapse--collapse {
  transition: height 200ms;
}
